/* React-player styling */
.vid-container {
  background: rgba($forhousing-orange, 0.8);
  height: 100vh;
}

.tutorial-video {
  margin: auto;
  position: relative;
}

.controls-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  h3 {
    color: $forhousing-common-grey;
    padding: 1rem;
  }
}

.playback-controls {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;

  i {
    color: $forhousing-common-grey;
    transform: scale(0.8);

    :hover {
      color: #fff;
      transform: scale(1);
    }

    .screen-controls {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;

      i {
        color: #939598;
        transform: scale(0.8);

        :hover {
          color: #fff;
          transform: scale(1);
        }
      }
    }
  }
}
