// Styling for search realted items

#search {
  margin-top: 4rem;
  overflow: visible;
}

.search-box {
  background-color: $forhousing-orange;
  color: #fff;
  margin: auto;
  max-width: 500px;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  .btn {
    margin: 2rem auto;
  }
}
